{% extends 'base.html.twig' %}

{% block title %}Centrale index{% endblock %}

{% block body %}
<center>
    <h1>Centrale index</h1>
<center/>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Date et Heure</th>
                <th>Opérateur</th>
                <th>Nom Administré</th>
                <th>Prénom Administré</th>
                <th>Objet de l'appel</th>
                <th>Numéro de téléphone</th>
                <th>Adresse e-mail</th>
                <th>Destinataire</th>
                <th>Statut de la requête</th>
                <th>Modifer</th>
            </tr>
        </thead>
        <tbody>
        {% for centrale in centrales %}
            <tr>
                <td>{{ centrale.id }}</td>
                <td>{{ centrale.dateHeure ? centrale.dateHeure|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ centrale.agent}}</td>
                <td>{{ centrale.administreAppellant }}</td>
                <td>{{ centrale.prenomAdministre }}</td>
                <td>{{ centrale.objet }}</td>
                <td>{{ centrale.telephone }}</td>
                <td>{{ centrale.mail }}</td>
                <td>{{ centrale.agent}}</td>
                <td>{{ centrale.status ? 'Traité' : 'En cours de traitement' }}</td>
                <td>
                    <a href="{{ path('app_centrale_show', {'id': centrale.id}) }}"class="btn btn-primary">Voir</a>
                    <a href="{{ path('app_centrale_edit', {'id': centrale.id}) }}"class="btn btn-primary">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">Pas d'enregistrement fait</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_centrale_new') }}"class="btn btn-primary">Nouveau</a>
{% endblock %}
