{% extends 'base.html.twig' %}

{% block title %}Services{% endblock %}

{% block body %}
    <h1>L'index des services</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Numero</th>
                <th>Services</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for service in services %}
            <tr>
                <td>{{ service.numero }}</td>
                <td>{{ service.services }}</td>
                <td>
                    <a href="{{ path('app_services_show', {'id': service.id}) }}"class="btn btn-primary">Regarder</a>
                    <a href="{{ path('app_services_edit', {'id': service.id}) }}"class="btn btn-primary">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Aucun</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="{{ path('app_parametre') }}"class="btn btn-primary">Retour</a>
    <a href="{{ path('app_services_new') }}"class="btn btn-primary">Nouveau service</a>
{% endblock %}
